.container {
  display: grid;
  grid-template-columns: 389px 1fr 1fr 1fr 1fr;
  padding-left: 4px;
}

.columnTitle {
  font-size: 12px;
  font-weight: 500;
  color: #999999;
  margin-bottom: 10px;
  font-family: "Roboto";
  cursor: pointer;
}
.columnTitleName {
  font-size: 12px;
  font-weight: 500;
  color: #999999;
  margin-bottom: 10px;
  font-family: "Roboto";
  cursor: pointer;
  margin-left: 13px;
}
